<section id="what-do-we-do" class="w-full py-20 bg-gray-200">
    <div class="container max-w-screen-lg mx-auto lg:py-20">
        <div class="text-center mb-16">
            <h2 class="text-5xl font-thin mb-2">Contáctanos</h2>
            <p class="text-lg text-gray-700">Estamos a tu disposición. Por favor, ingresa aquí tus datos e inquietudes.</p>
        </div>
        <form class="max-w-lg mx-auto">
            <div class="pb-4">
                <input class="appearance-none border border-gray-300 rounded w-full py-4 px-6 text-gray-800 leading-tight focus:outline-none focus:shadow-md focus:border-orange-600" type="text" placeholder="Nombre de la empresa">
            </div>
            <div class="pb-4">
                <input class="appearance-none border border-gray-300 rounded w-full py-4 px-6 text-gray-800 leading-tight focus:outline-none focus:shadow-md focus:border-orange-600" type="text" placeholder="Tu nombre completo">
            </div>
            <div class="pb-4">
                <input class="appearance-none border border-gray-300 rounded w-full py-4 px-6 text-gray-800 leading-tight focus:outline-none focus:shadow-md focus:border-orange-600" type="text" placeholder="Tu correo electrónico">
            </div>
            <div class="pb-4">
                <input class="appearance-none border border-gray-300 rounded w-full py-4 px-6 text-gray-800 leading-tight focus:outline-none focus:shadow-md focus:border-orange-600" type="text" placeholder="Tu número de teléfono">
            </div>
            <div class="pb-4 h-40">
                <textarea class="appearance-none border border-gray-300 rounded w-full min-h-full py-4 px-6 text-gray-800 leading-tight focus:outline-none focus:shadow-md focus:border-orange-600" type="text" placeholder="Tu mensaje"></textarea>
            </div>
            <div class="flex justify-center pt-4">
                <button class="inline-block px-6 py-3 bg-orange-500 text-white rounded-md hover:bg-orange-600">
                    Enviar mensaje
                </button>
            </div>
        </form>
    </div>
</section>