<section id="what-do-we-do" class="w-full py-20 bg-white relative z-10">
    <div class="container max-w-screen-lg mx-auto relative lg:py-20">
        <h2 class="text-center text-5xl font-thin mb-16 relative z-10">Nuestros valores</h2>
        <div class="grid grid-cols-3 relative z-10 lg:justify-center lg:px-12">
            <div class="lg:pr-14">
                <div class="pb-10">
                    <h3 class="text-2xl font-medium mb-4">Pasión</h3>
                    <p class="text-gray-600">No nos conformamos sólo con cumplir, nos esforzamos por sorprender y superar las expectativas de nuestros clientes, sus clientes y nuestros compañeros de trabajo.</p>
                </div>
                <div class="pt-10">
                    <h3 class="text-2xl font-medium mb-4">Colaboración</h3>
                    <p class="text-gray-600">Nuestras relaciones se basan en la confianza, estamos siempre dispuestos a colaborar, mas allá de nuestra especialidad.</p>
                </div>
            </div>
            <div class="flex items-center justify-center pointer-events-none">
                <div class="lg:p-10 lg:pt-0">
                    {% include logo.html %}
                </div>
            </div>
            <div class="lg:pl-14 lg:text-right">
                <div class="lg:pb-10">
                    <h3 class="text-2xl font-medium mb-4">Superación</h3>
                    <p class="text-gray-600">Perseguimos la excelencia en todo lo que hacemos y desafiamos continuamente lo establecido. Aprendemos de nuestros errores y seguimos adelante.</p>
                </div>
                <div class="lg:pt-10">
                    <h3 class="text-2xl font-medium mb-4">Liderazgo</h3>
                    <p class="text-gray-600">Nos adueñamos de nuestras responsabilidades. Con actitud positiva, tomamos decisiones considerando su impacto a largo plazo.</p>
                </div>
            </div>
        </div>
    </div>
</section>