<section id="what-do-we-do" class="w-full py-20 bg-blue-700 text-white">
    <div class="container max-w-screen-lg mx-auto lg:py-20">
        <h2 class="text-center text-5xl font-thin mb-16">
            Pilares de nuestro servicio
        </h2>
        <div class="grid grid-cols-2 gap-10">
            <div class="lg:pr-10 lg:pl-10 lg:text-right">
                <div class="mb-4 inline-flex items-center justify-center rounded-full w-16 h-16 bg-blue-600 shadow-md">
                    <svg viewBox="0 0 24 24" width="32" height="32" stroke="currentColor" stroke-width="1"
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path
                            d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3">
                        </path>
                    </svg>
                </div>
                <h4 class="text-xl font-medium mb-2">Hacer las cosas bien desde el principio</h4>
                <p class="font-light">Este es nuestro lema con el cual comenzamos cada día, que nos inspira a alcanzar la excelencia en nuestras operaciones.</p>
            </div>
            <div class="lg:pr-10 lg:pl-10">
                <div class="mb-4 inline-flex items-center justify-center rounded-full w-16 h-16 bg-blue-600 shadow-md">
                    <svg viewBox="0 0 24 24" width="32" height="32" stroke="currentColor" stroke-width="1"
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                        <path
                            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                        </path>
                        <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                        <line x1="12" y1="22.08" x2="12" y2="12"></line>
                    </svg>
                </div>
                <h4 class="text-xl font-medium mb-2">Si fallamos, resolver los problemas</h4>
                <p class="font-light">De manera rápida y empática nos guía a reconocer nuestros
                errores y solucionarlos para satisfacción de nuestros clientes.</p>
            </div>
            <div class="lg:pr-10 lg:pl-10 lg:text-right">
                <div class="mb-4 inline-flex items-center justify-center rounded-full w-16 h-16 bg-blue-600 shadow-md">
                    <svg viewBox="0 0 24 24" width="32" height="32" stroke="currentColor" stroke-width="1"
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                </div>
                <h4 class="text-xl font-medium mb-2">Cumplir con nuestros compromisos</h4>
                <p class="font-light">A tiempo porque sabemos cuan importante es para nuestros clientes la seguridad y el cumplimiento de los tiempos comprometidos.</p>
            </div>
            <div class="lg:pr-10 lg:pl-10">
                <div class="mb-4 inline-flex items-center justify-center rounded-full w-16 h-16 bg-blue-600 shadow-md">
                    <svg viewBox="0 0 24 24" width="32" height="32" stroke="currentColor" stroke-width="1"
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                </div>
                <h4 class="text-xl font-medium mb-2">Calidad y amabilidad</h4>
                <p class="font-light">En el trato a nuestros clientes nos ha permitido lograr una gran aceptación e índice de satisfacción dado por una puntuación de 80.</p>
            </div>
        </div>
    </div>
</section>