<section id="what-do-we-do" class="w-full bg-orange-600 text-white">
    <div class="grid grid-cols-2">
        <div class="md:pr-6 py-20 lg:ml-40 lg:pr-24">
            <div class="lg:py-20">
                <h2 class="text-4xl font-bold mb-6">A qué nos dedicamos</h2>
                <p class="text-lg mb-4">Somos un equipo focalizado en brindar servicios de almacenaje, preparación de pedidos y entregas de última milla, con cobertura en más de 320 comunas de Chile.</p>
                <p class="text-lg">Tus clientes adquieren tus productos y nosotros nos responsabilizamos que lo reciban en tiempo y forma, no importa qué tan lejos estén.</p>
            </div>
        </div>
        <div class="bg-orange-900 bg-center bg-cover" style="background-image: url(https://images.unsplash.com/photo-1551825687-f9de1603ed8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=100&sat=-100&blend=DD6B20&blend-mode=multiply);"></div>
    </div>
</section>