<section id="why-choose-us" class="w-full py-20 bg-gray-200">
    <div class="container max-w-screen-lg mx-auto lg:py-20">
        <h2 class="text-center text-5xl font-thin mb-16">Por qué elejirnos</h2>
        <div class="grid grid-cols-3 gap-10">
            <div class="p-10 bg-white shadow-md rounded-md">
                <h3 class="text-6xl font-thin text-blue-600">98%</h3>
                <p class="text-xl mb-4 font-medium">Entregas satisfactorias en el primer intento</p>
                <p class="text-gray-600">Nos esforzamos por superar las expectativas de tus clientes.</p>
            </div>
            <div class="p-10 bg-white shadow-md rounded-md">
                <h3 class="text-6xl font-thin text-blue-600">80</h3>
                <p class="text-xl mb-4 font-medium">Puntos de satisfacción de nuestros clientes</p>
                <p class="text-gray-600">Brindamos la mejor experiencia de Entregas.</p>
            </div>
            <div class="p-10 bg-white shadow-md rounded-md">
                <h3 class="text-6xl font-thin text-blue-600">0.08%</h3>
                <p class="text-xl mb-4 font-medium">Tasa de devolución en las entregas</p>
                <p class="text-gray-600">Perseguimos la excelencia en todo lo que hacemos.</p>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-10 pt-10">
            <ul class="lg:pr-10">
                <li class="flex items-start py-3">
                    <div class="pr-1">{% include icons/check.html %}</div>
                    <div class="pl-2 text-gray-900">Fortalece la confianza de tus clientes</div>
                </li>
                <li class="flex items-start py-3">
                    <div class="pr-1">{% include icons/check.html %}</div>
                    <div class="pl-2 text-gray-900">Minimiza sus reclamos e insatisfacción</div>
                </li>
            </ul>
            <ul class="lg:pr-10">
                <li class="flex items-start py-3">
                    <div class="pr-1">{% include icons/check.html %}</div>
                    <div class="pl-2 text-gray-900">Apalanca la recompra de tus productos</div>
                </li>
                <li class="flex items-start py-3">
                    <div class="pr-1">{% include icons/check.html %}</div>
                    <div class="pl-2 text-gray-900">Complementa positivamente tu experiencia de compra online</div>
                </li>
            </ul>
            <ul class="lg:pr-10">
                <li class="flex items-start py-3">
                    <div class="pr-1">{% include icons/check.html %}</div>
                    <div class="pl-2 text-gray-900">Maximiza tus ventas</div>
                </li>
                <li class="flex items-start py-3">
                    <div class="pr-1">{% include icons/check.html %}</div>
                    <div class="pl-2 text-gray-900">Minimiza los costos asociados al reproceso de órdenes</div>
                </li>
            </ul>
        </div>
    </div>
</section>