<footer class="w-full bg-gray-900 relative overflow-hidden">
    <div class="container max-w-screen-lg mx-auto py-10 relative z-10">
        <div class="flex flex-col border-b-2 border-gray-800 pb-10">
            <div class="flex items-center w-full border-b-2 border-gray-800 pb-10">
                <div class="flex-1">
                    <div class="w-10">
                        {% include logo.html %}
                    </div>
                </div>
                {% include navigation_simple.html %}
            </div>
            <div class="md:w-3/6 flex flex-col text-gray-100 pt-10">
                <div class="block">Avenida La Dehesa 181, Oficina 1305, Lo Barnechea, Santiago, RM</div>
                <div class="block"><strong class="font-medium">Teléfono</strong>: <a class="underline hover:text-orange-600" title="Realizar una llamada telefónica" href="tel:+56232249412">+56 2 3224 9412</a></div>
                <div class="block"><strong class="font-medium">Correo</strong>: <a class="underline hover:text-orange-600" title="Escribir un correo electrónico" href="mailto:contacto@alasxpress.com">contacto@alasxpress.com</a></div>
            </div>
        </div>
        <div class="flex justify-center pt-4 text-sm">
            <p class="text-gray-500">
                &copy; 2020. Todos los Derechos Reservados.
            </p>
        </div>
    </div>
    <div class="absolute top-0 right-0 left-0 h-full z-0 pt-20 pointer-events-none">
        <div class="w-3/4 mx-auto text-gray-800 opacity-25">
            {% include globe.html %}
        </div>
    </div>
</footer>