<div class="w-full bg-blue-700 py-20 bg-center bg-cover md:pt-32 md:h-screen"
    style="background-image: url(https://images.unsplash.com/photo-1556228149-0b37a8638663?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=100&sat=-100&blend=2C5282&blend-mode=multiply);">
    <div class="container max-w-screen-lg mx-auto md:h-full">
        <div class="flex items-center max-w-screen-md mx-auto text-center md:h-full">
            <div class="py-10 text-white">
                <h1 class="text-5xl font-bold leading-tight my-4">Una experiencia única de entregas comienza con nosotros</h1>
                <p class="text-xl max-w-screen-sm mx-auto pt-4 font-light text-blue-100 md:px-10">Tus productos, como
                    soñaste que los reciban, entregados a tiempo y donde ellos decidan</p>
                <div class="flex items-center justify-center pt-10">
                    <a href="#"
                        class="inline-flex items-center uppercase tracking-wider border-2 border-white rounded-md text-xs px-10 py-4 text-base font-bold hover:bg-white hover:shadow-md hover:text-blue-700">
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                            fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                            <polygon points="5 3 19 12 5 21 5 3"></polygon>
                        </svg>
                        <span class="block ml-2">Ver video</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>