<svg class="w-full h-auto" viewBox="0 0 246 237" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
        d="M171.074 31.2778C193.44 45.8297 237.357 74.4033 244.173 130.361C246.472 147.258 244.176 164.988 236.576 181.649C215.179 228.555 159.842 249.218 112.977 227.803C71.9572 209.058 51.0241 164.288 60.7895 121.958L60.8495 121.666C62.3062 114.566 64.8073 102.377 65.0683 97.7985C66.3706 74.947 62.0322 39.6615 47.1935 19.8426C29.9758 -3.15368 104.672 -12.0041 169.603 30.3205C170.082 30.6327 170.573 30.9517 171.074 31.2778Z"
        fill="url(#paint0_linear)" />
    <path fill-rule="evenodd" clip-rule="evenodd"
        d="M123.032 33.4053C149.495 37.3549 201.534 45.1216 230.903 93.5769C239.847 107.905 245.015 124.837 245.015 142.977C245.015 194.54 203.252 236.34 151.733 236.34C106.799 236.34 69.2855 204.541 60.4309 162.201L60.2595 161.454C58.6393 154.39 55.8576 142.263 54.1954 137.989C45.8995 116.661 27.3136 86.368 5.59223 74.5096C-19.6116 60.7501 44.6688 21.6426 121.297 33.1459C121.861 33.2305 122.437 33.3166 123.027 33.4046L123.032 33.4053Z"
        fill="url(#paint1_radial)" />
    <defs>
        <linearGradient id="paint0_linear" x1="203.3" y1="207.485" x2="53.552" y2="-10.2811"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#944600" />
            <stop offset="1" stop-color="#FF7C06" />
        </linearGradient>
        <radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(63.0422 45.6261) rotate(63.7385) scale(188.736 225.314)">
            <stop stop-color="#FFA216" />
            <stop offset="0.9999" stop-color="#F39200" />
            <stop offset="1" stop-color="#F39200" />
        </radialGradient>
    </defs>
</svg>