<nav class="rounded-md shadow-md bg-white">
    <div class="flex items-center px-6">
        <div class="flex-1">
            <div class="flex items-center">
                <div class="w-10 mr-4">
                    {% include logo.html %}
                </div>
                {% include navigation.html %}
            </div>
        </div>
        <div ckass="flex items-center">
            <a href="https://web.alasxpress.com/" class="inline-flex px-5 py-3 bg-orange-500 rounded-md text-white font-medium hover:bg-blue-700" target="_blank" rel="noopener noreferrer">
                Accede a tu cuenta
            </a>
        </div>
    </div>
</nav>