<ul class="flex items-center">
    <li class="md:px-3">
        <a class="block py-8 font-medium text-gray-900 hover:text-orange-600" href="#">
            A qué nos dedicamos
        </a>
    </li>
    <li class="md:px-3">
        <a class="block py-8 font-medium text-gray-900 hover:text-orange-600" href="#">
            Por qué elejirnos
        </a>
    </li>
    <li class="md:px-3">
        <a class="block py-8 font-medium text-gray-900 hover:text-orange-600" href="#">
            Qué nos guía
        </a>
    </li>
    <li class="md:px-3">
        <a class="block py-8 font-medium text-gray-900 hover:text-orange-600" href="#">
            Contáctanos
        </a>
    </li>
</ul>