<svg class="text-green-500 w-6 h-auto" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
    stroke-linecap="round" stroke-linejoin="round">
    <path class="text-green-300" d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
    <polyline points="22 4 12 14.01 9 11.01"></polyline>
</svg>