<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ site.title }} | {{ page.title }}</title>
        <meta name="tittle" content="{{ site.title }}">
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="og:title" property="og:title" content="{{ site.title }}" />
        <meta name="og:description" property="og:description" content="{{ site.description }}" />
        <meta property="og:type" content="website" />
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        {% include header.html %}
        <div role="main">
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>